// COLORS
:root {
  --color-green: #00aa4b;
  --color-white: #fff;
  --color-dark: #171717;
  --color-black: #232323;
  --color-text: #121212;
  --color-gray:  #e8e7e7;
  --color-tundora: #f1f1f1;
  --color-russet: #ffaf2d;
  --color-lightgray: #777777;
  --color-golden:#ff8c00;
  --color-fortitle: #343434;
  --color-forlink:#303030;
}
